html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
color: inherit;
text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}
@font-face {
  font-family: 'SBSans';
  src: local('SBSansDisplay-Regular'), url('../fonts/SBSansDisplay-Regular.ttf') format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SBSans';
  src: local('SBSansDisplay-Light'), url('../fonts/SBSansDisplay-Light.ttf') format("ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SBSans';
  src: local('SBSansDisplay-SemiBold'), url('../fonts/SBSansDisplay-SemiBold.ttf') format("ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SBSans';
  src: local('SBSansDisplay-Bold'), url('../fonts/SBSansDisplay-Bold.ttf') format("ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/* colors */
:root {
  --green-crlp: #289244;
  --orange-crlp: #ff7c00;
  --orange-light-crlp: #FFB600;

  --black-crlp: #1c1c1c;

  --grey-crlp: #7b7979;
  --grey-light-crlp: #dfdede;
  --grey-border-crlp: #c0bcbc;

  --white: #ffffff;
}

body {
  min-width: 1200px;
  font-family: 'SBSans', sans-serif;
  font-weight: 400;
}

/* glob */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin: 0;
}

.flex {
  display: flex;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section-title {
  margin: 0;
  margin-bottom: 40px;

  font-size: 36px;
  font-weight: 600;
  line-height: 130%;
  color: var(--black-crlp);
}


.section-offset {
  padding-top: 80px;
  padding-bottom: 80px;
}



/* header */

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 16px 0;
  border-bottom: 1px solid var(--grey-light-crlp);
  background-color: var(--white);
}

.header-link {
  position: relative;
  font-weight: 600;
  color: var(--black-crlp);
  font-size: 16px;
}
.header-link:focus {
  outline: 1px solid var(--grey-light-crlp);
  outline-offset: 3px;
}

.header-link:hover {
  color: var(--orange-crlp);
}

.header-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--orange-crlp);
  opacity: 0;
}
.header-link:active {
  outline: none;
}

.header-link:active::after {
  opacity: 1;
}


.header-container {
  align-items: center;
}


.header-logo {
  flex-shrink: 0;
  margin-right: 70px;
}

.header-logo img {
  display: block;
  width: 220px;
  height: auto;
}

.header-nav {
  margin-right: auto;
}
.header-list {
  gap: 50px;
}

/* .header-list-item:not(:last-child) {
  margin-right: 52px;
} */

.btn {
  position: relative;
  outline: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 16px 24px;
  border-radius: 4px;

  font-weight: 600;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;

  color: var(--white);
  background-color: var(--orange-crlp);
}
/* тут ховеры для кнопок, но поскольку во встроенной форме у меня кнопки без ховеров, то тут попробовала, но не применяю */
/* .btn::after {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  border-radius: inherit;
  border: 1px solid var(--orange-crlp);
  outline: none;
  opacity: 0;
}

.btn:focus::after {
  opacity: 1;
}

.btn:hover {
  background-color: var(--orange-light-crlp);
}

.btn:active {
  background-color: var(--orange-crlp);
}

.btn:active::after {
  opacity: 0;
} */

/* .header-btn {
  margin-left: 30px;
} */

.video-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  /* max-width: 900px; */
  margin: 0 auto;
}

.video {
  display: block;

  width: 100%;
  /* height: 506px; */
  aspect-ratio: 16 / 9;
  margin: 0 auto;

  border-radius: 8px;
}

/* hero */
.hero {
  padding-top: 200px;
  padding-bottom: 300px;
  /* scroll-margin-top: 120px; */
  background-image: url('../img/hero-bg.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
}
.hero-btn {
  margin-bottom: 14px;
  min-width: 200px;
  padding-top: 20px;
  padding-bottom: 20px;
}


.hero-content {
  max-width: 50%;
  margin-left: auto;
  flex-direction: column;
  align-items: flex-start;
}

.hero-title {
  margin: 0;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 46px;
  line-height: 120%;
}

.hero-descr {
  margin: 0;
  margin-bottom: 60px;
  line-height: 130%;
  font-size: 18px;
}


/* roadmap */
.roadmap {
  scroll-margin-top: 120px;
  border-bottom: 1px solid var(--grey-border-crlp);
}

.roadmap-section-title {
  text-align: center;
  margin-bottom: 20px;
}

.roadmap-section-descr {
  margin: 0;
  margin-bottom: 50px;

  text-align: center;

  font-size: 16px;
  line-height: 120%;
  color: var(--black-crlp);
}

.roadmap-item {
  flex-direction: column;
  align-items: center;
  padding: 60px 30px;
  width: 270px;
  color: var(--black-crlp);

/* Для будущего варианта с кликабельными карточками */
/*
border: 1px solid var(--grey-border-crlp);
border-radius: 12px;
*/
}


  .roadmap-item:not(:nth-child(4n)) {
    margin-right: 30px;
  }

  .roadmap-item-icon {
  display: block;
  width: 66px;
  height: 66px;
  margin-bottom: 25px;
  /* color: var(--green-crlp); */
}

/* ховер — пока не нужен */
/* .roadmap-item:hover .roadmap-item-icon {
  color: var(--white);
} 
  
.roadmap-item:hover {
  color: var(--white);
  border-color: var(--orange-crlp);
  background-color: var(--green-crlp);
}
*/

/* сделать что-то похожее по остальным, но со своими ньюансами */
.roadmap-item-title { 
  margin: 0;
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  /* color: var(--black-crlp); */
}

.roadmap-item-descr {
  margin: 0;
  text-align: center;
  font-size: 16px;
  line-height: 150%;
}

.roadmap-video-caption {
  margin: 0;
  margin-top: 60px;
  margin-bottom: 10px;

  font-weight: 300;
  font-size: 16px;

  text-align: center;
}



.webinar-docs {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
}

.webinar-doc-item {
  display: block;
  margin-top: 20px;
  margin-bottom: 2px;

  font-weight: 600;  
  font-size: 16px;
  color: var(--green-crlp);
  text-decoration: underline;
}


/* faq */
.faq {
  scroll-margin-top: 120px;
  border-bottom: 1px solid  var(--grey-border-crlp);
}

.faq-list {
  /* flex-wrap: wrap; */
  /* margin-bottom: 30px; */
  flex-direction: column;
  gap: 30px;
}

.faq-item {
  /* width: 570px; */
  /* outline: 2px solid var(--grey-light-crlp); */
  /* width: calc((100% - 60px)); */
  width: 100%;
  /* padding: 20px; */
  margin-bottom: 10px;
  /* width: 900px;
  margin-left: auto;
  margin-right: auto; */
}

.faq-item:not(:nth-child(2n)) {
  margin-right: 30px;

}

.blog-preview-image {
  flex-shrink: 0;
  margin-top: 4px;
  margin-right: 10px;
  /* width: 170px;
  height: 180px; */
  width: 180px;
  height: 190px;
  object-fit: contain;
}

.blog-preview {
  overflow: hidden;
  border: 1px solid var(--grey-light-crlp);
  border-radius: 4px;
  /* background-color: #289244; */
}

.blog-preview-text {
  padding: 30px;
  max-width: 750px;

}

.blog-preview-question {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 300;
  line-height: 120%;
}

.blog-preview-title {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  color: var(--black-crlp);
}

.faq-more {
  margin: 0;
  /* margin-top: 30px; */
  margin-top: 30px;
  margin-bottom: 15px;

  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  color: var(--black-crlp);

}

.faq-more-title {
  margin: 0;
  margin-top: 30px;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  color: var(--black-crlp);
  cursor: pointer;
}

.faq-details-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.faq-details-descr {
  margin: 0;
  /* margin-bottom: 40px; */
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: var(--grey-crlp);
}

.faq-details-descr-list {
  margin: 0;
  /* margin-bottom: 40px; */
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: var(--grey-crlp);
}

.blog-preview-descr {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: var(--black-crlp);
}

.faq-details {
  max-width: 900px;
  margin: 0;
  /* margin-bottom: 20px; */

  padding: 16px 0;
  border-top: 1px solid var(--grey-light-crlp);

  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: var(--grey-crlp);
}

.faq-details:last-child {
  border-bottom: 1px solid var(--grey-light-crlp);
}

.faq-details-list-item {
  position: relative;
  padding-left: 24px;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: var(--grey-crlp);
}

.faq-details-list-item::before {
  content: "✓";
  position: absolute;
  left: 0;

  color: var(--grey-crlp);
  font-weight: 700;
}

.blog-preview-list {
  padding-left: 0;
  list-style: none;
}

.blog-preview-list-item {
  position: relative;
  padding-left: 24px;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: var(--black-crlp);
}
.blog-preview-list-item::before {
  content: "✓";
  position: absolute;
  left: 0;

  color: var(--green-crlp);
  font-weight: 700;
}

/* documents */
.documents {
  scroll-margin-top: 120px;
  border-bottom: 1px solid var(--grey-border-crlp);
}

.documents-section-descr {
  margin: 0;
  margin-bottom: 8px;
}
.documents-info {
  width: 800px;
  margin: 0;
  margin-bottom: 50px;
  border-left: 3px solid var(--green-crlp); 
  padding-left: 20px;
  padding-top: 10px;
}

.documents-list {
  margin: 0;
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--black-crlp);
  
}
.documents-list-item {
  margin-bottom: 6px;
}


.documents-cards-list-item {
  flex-direction: column;
  width: 370px;
  padding: 50px 36px;
  padding-bottom: 30px;
  border: 1px solid var(--grey-light-crlp);
  border-radius: 4px;
  margin-bottom: 30px;
}

.documents-cards-list-item:not(:nth-child(3n)) {
  margin-right: 30px;
}
.documents-cards-item-title {
  margin: 0;
  margin-bottom: 6px;
  min-height: 20px;
}

.documents-cards-descr {
  margin: 0;
  margin-bottom: 30px;
  min-height: 130px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--black-crlp);
}


.documents-cards-item-descr {
  margin: 0;
  margin-bottom: 30px;
  min-height: 130px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--black-crlp);
}

.documents-cards-summary {
  /* margin-top: auto;
  align-items: center; */
  margin-top: auto;
  align-items: flex-start;
  border-top: 1px solid  var(--grey-border-crlp);
  width: 100%;
  padding-top: 28px;
  /* outline: 1px solid red; */
}

.documents-cards-avatar {
  flex-shrink: 0;
  width: 67px;
  height: 67px;
  /* width: 100%;
  height: 100%; */
  margin-right: 17px;
}

.documents-cards-name {
  margin: 0;
  margin-bottom: 2px; 
  min-height: 80px;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: var(--black-crlp);
  /* outline: 1px solid red;  */
}

.documents-cards-links {
  display: flex;
  flex-direction: column;
  gap: 6px;
}


.documents-cards-link {
  display: block;
  margin-bottom: 2px;

  font-weight: 600;  
  font-size: 16px;
  color: var(--green-crlp);
  text-decoration: underline;
  
  
}

/* contacts */
.contacts {
  scroll-margin-top: 60px;
  border-bottom: 1px solid var(--grey-border-crlp);

}

.contacts-address {
  font-style: normal;
}

.contacts-item {
  flex-direction: column;
  align-items: flex-start;

  width: 370px;
  padding-top: 48px;

  background-position: left top;
  background-repeat: no-repeat;
  background-size: 29px 29px;

  /* outline: 2px solid grey; */
}

.contacts-item-address {
  background-image: url('../img/icon_location.svg');
}

.contacts-item-call {
  background-image: url(../img/icon_phone.svg);
  background-size: 27px 27px;
}

.contacts-item-mail {
  background-image: url(../img/icon_mail.svg)
}


.contacts-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.contacts-item-title {
  margin: 0;
  padding-top: 6px;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  color: var(--black-crlp);
}

.contacts-item-link {
  margin-bottom: 5px;
  /* display: block; */
  display: inline-block;

  font-weight: 600;  
  font-size: 16px;
  color: var(--black-crlp);
  /* text-decoration: underline; */
  line-height: 180%;

 }

.contacts-item-link:hover,
.contacts-item-link:focus {
  color: var(--green-crlp);
  text-decoration: underline;
}



 /* .contacts-item-link:active {
  outline: none;
  color: var(--green-crlp);
}

.contacts-item-link::after {
  content: "";
  position: absolute;

  left: 0;
  bottom: -2px;

  width: 100%;
  height: 2px;

  background-color: var(--green-crlp);
  opacity: 0;
}

.contacts-item-link:hover::after {
  opacity: 1;
} */




/* Join-us */
.join-us {
  scroll-margin-top: 60px;
  border-bottom: 1px solid var(--grey-border-crlp);
}

.join-section-descr {
margin: 0;
margin-bottom: 30px;

text-align: left;

font-size: 16px;
line-height: 120%;
color: var(--black-crlp);
}

.input-name {
  width: 100%;
  max-width: 500px;
  height: 44px;
  padding: 10px 12px;
  border: 1px solid var(--grey-light-crlp);
  border-radius: 4px;
  box-sizing: border-box;
}

.input-name:focus {
  outline: none;
  border-color: var(--orange-crlp);
} 

/* Полезное свойство — чтобы зеленый бордер появлялся при вводе текста в рамку */

.input-name:not(:placeholder-shown) {
  border-color: var(--green-crlp);
}

.input-name:focus:not(:placeholder-shown) {
  border-color: var(--green-crlp);
}

.form-top {
  display: flex;
  gap: 40px;
  margin-bottom: 20px;

}

.form-left {
  width: 50%;
  display: flex;
  flex-direction: column;
}


.form-right {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}


.form-select {
width: 100%;
max-width: 500px;
height: 44px;
padding: 10px 12px;
border: 1px solid var(--grey-light-crlp);
border-radius: 4px;
box-sizing: border-box;
}

.form-select:focus {
  outline: none;
  border-color: var(--orange-crlp);  
}


.form-select option:checked {
  background-color: var(--green-crlp);
  color: white;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;

  margin: 0;
  padding: 0;
  border: none;

}

.form-group-radio {
  display: flex;
  flex-wrap: wrap;

  padding: 0;
  border: none;
}

.form-group-radio .form-title {
  width: 100%;
  margin-bottom: 12px;
  
}

.form-group-radio .form-choice:not(:last-child) {
  margin-right: 30px;
}

.form-group legend {
  margin-bottom: 12px;
}

.form-choice {
  display: flex;
  align-items: flex-start;
  gap: 12px;

  margin-bottom: 8px;
}

/* классное свойство! */
.form-choice input {
  scale: 1.5;

  /* margin-right: 6px;
  margin-bottom: 12px; */

  accent-color: var(--green-crlp);

}

.form-title {
  margin-bottom: 6px;

  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  color: var(--black-crlp);
}

.form-title-required::after {
  content: " *";
  color: var(--orange-crlp);
}

.form-textarea {
  width: 100%;
  max-height: 90px;
  padding: 10px 12px;

  font-family: inherit;
  font-size: 16px;
  line-height: 150%;

  resize: none;

  border: 1px solid var(--grey-light-crlp);
  border-radius: 4px;
  box-sizing: border-box;
}

.form-textarea:focus {
  outline: none;
  border-color: var(--orange-crlp);  
}


.form-textarea:not(:placeholder-shown) {
  border-color: var(--green-crlp);
}

.form-textarea:focus:not(:placeholder-shown) {
  border-color: var(--green-crlp);
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-bottom {
  display:flex;
  justify-content: flex-end;
}

.form-btn {
  min-width: 230px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 8px;
}

.form-check {
  font-size: 12px;
  line-height: 120%;
  text-align: center;
  color:var(--grey-crlp);

  display: flex;
  align-items: center;
  gap: 6px;

  margin-bottom: 8px;
  accent-color: var(--green-crlp);

}

.form-check input {
  /* margin-right: 4px; */
  margin: 0;
  /* scale: 1.2; */
}

.form-check a {
  text-decoration: underline;
}

.form-check-text {
  display: inline;
}

/* footer */
.footer {
  padding: 42px;
}

.footer-copy {
  font-size: 12px;
  line-height: 100%;
  color: var(--grey-crlp);
}

.footer-link {
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
}

.footer-container {
  align-items: center;
  justify-content: space-between;
}

.footer-left {
  align-items: center;
}

.footer-logo {
  margin-right: 25px;
}

.footer-logo img {
  display: block;
  width: 70px;
  height: auto;
}

.footer-item:not(:last-child) {
  margin-right: 36px;
}

.social {
  margin-left: 48px;
  gap: 18px;
}

.social-link {
  display: block;
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
 
}

.footer-right {
  align-items: center;
}

.social-link-vk {
  background-image: url(../img/icon_vk_color.svg);
}

.social-link-telegram {
  background-image: url(../img/icon_telegram_color.svg);
  /* border-radius: 6px; */
}

.social-link-max {
  background-image: url(../img/icon_max_color.svg);
}