html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
color: inherit;
text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  min-width: 1200px;
  font-family: 'font', sans-serif;
}

/* glob */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section-title {
  margin: 0;
  margin-bottom: 40px;
}

.section-descr {
margin: 0;
margin-bottom: 50px;
}

.section-offset {
  padding-top: 87px;
  padding-bottom: 160px;
}
/* header */

.header {
  padding: 36px 0;
}

.header-container {
  align-items: center;
}


.header-logo {
  flex-shrink: 0;
  margin-right: 70px;
}

.header-logo img {
  display: block;
  width: 220px;
  height: auto;
}

.header-nav {
  margin-right: auto;
}

.header-list-item:not(:last-child) {
  margin-right: 52px;
}

/* hero */
.hero {
  padding: 100px 0;
}

.hero-content {
  max-width: 50%;
  margin-left: auto;
  flex-direction: column;
  align-items: flex-start;
}

.hero-title {
  margin: 0;
  margin-bottom: 25px;
}

.hero-descr {
  margin: 0;
  margin-bottom: 34px;
}

.hero-btn {
  margin-bottom: 14px;
}
/* дорожная карта */


.section-title-center {
  text-align: center;
}

.section-descr-center {
  text-align: center;
}
.roadmap-item-icon {
  justify-content: space-between;
}

.roadmap-item {
  flex-direction: column;
  align-items: center;
  padding: 30px;
  width: 270px;
  /* outline: 1px solid blue; */
  }

  .roadmap-item:not(:nth-child(4n)) {
    margin-right: 30px;
  }

  .roadmap-item-icon {
  display: block;
  height: 77px;
  margin-bottom: 25px;
  width: 66px;
  height: 66px;
  margin-bottom: 20px;
}


.section-item-title {
  margin: 0;
  margin-bottom: 15px;
}

.roadmap-item-descr {
  margin: 0;
  text-align: center;
}

/* faq */
.faq-list {
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.faq-item {
  width: 570px;
  outline: 2px solid rgb(223, 222, 222);
  margin-bottom: 30px;
}

.faq-item:not(:nth-child(2n)) {
  margin-right: 30px;

}

.blog-preview-image {
  flex-shrink: 0;
  width: 170px;
  height: 180px;
  object-fit: contain;
}

.blog-preview-text {
  padding: 30px;
}

.blog-preview-question {
  display: block;
  margin-bottom: 5px;
}

.blog-preview-title {
  margin: 0;
  margin-bottom: 15px;
}

.blog-preview-descr {
  margin: 0;
}

/* documents */
.documents-section-descr {
  margin: 0;
  margin-bottom: 8px;
}
.documents-info {
  width: 670px;
  margin: 0;
  margin-bottom: 50px;
}

.documents-list {
  margin: 0;
  margin-bottom: 50px;
}
.documents-list-item {
  margin-bottom: 6px;
}

.documents-cards-list-item {
  flex-direction: column;
  width: 370px;
  padding: 50px 36px;
  padding-bottom: 30px;
  outline: 2px solid rgb(223, 222, 222);
}

.documents-cards-list-item:not(:nth-child(3n)) {
  margin-right: 30px;
}
.documents-cards-item-title {
  margin: 0;
  margin-bottom: 6px;
}

.documents-cards-item-descr {
  margin: 0;
  margin-bottom: 30px;
}

.documents-cards-summary {
  margin-top: auto;
  align-items: center;
}

.documents-cards-avatar {
  flex-shrink: 0;
  width: 67px;
  margin-right: 17px;
}

.documents-cards-name {
  margin-bottom: 2px;
}

/* contacts */
.contacts-address {
  font-style: normal;
}

.contacts-item {
  flex-direction: column;
  width: 370px;
  /* outline: 2px solid grey; */
}

.contacts-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.contacts-item-title {
  margin: 0;
  margin-bottom: 30px;
}

.contacts-item-link:not(:last-child) {
  margin-bottom: 5px;
}
/* footer */
.footer {
  padding: 42px;
}

.footer-container {
  align-items: center;
  justify-content: space-between;
}

.footer-left {
  align-items: center;
}

.footer-logo {
  margin-right: 25px;
}

.footer-logo img {
  display: block;
  width: 70px;
  height: auto;
}

.footer-item:not(:last-child) {
  margin-right: 36px;
}